.playPage {
  background-color: rgba(32, 32, 32, 0.6);
  .albg {
    position: fixed;
    filter: blur(100px);
    z-index: -1;
    transition: all 0.5s;
    .img {
      display: block;
      // transform: scale(1.5, 1.5);
    }
  }
}

.playPage .playPageMiddle {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 80px;
  // background-color: #fafafa;
}

.playPage .playPageUp {
  display: flex;
  justify-content: space-between;
  height: 900px;
  padding-top: 30px;
}

.playPage .playPageUpLeft {
  display: inline-block;
  width: 400px;
  height: 100%;
}

.playPageUpLeft > div {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 320px;
  width: 320px;
  background-color: rgba(170, 170, 170, 0.3);
  border-radius: 50%;
  padding: 10px;
  margin-top: 280px;
}

.playPageUpLeft > div .diskBar {
  display: inline-block;
  width: 100px;
  height: 147px;
  position: absolute;
  top: -80px;
  left: 150px;
  background: url("../../asset/images/Tonearm.png") no-repeat;
  background-size: cover;
  transition: transform 1s;
}

.playPageUpLeft > div .diskBarOrigin {
  transform-origin: left top;
  transform: rotate(-40deg);
}

.playPageUpLeft > div .diskBarAfter {
  transform-origin: left top;
  transform: rotate(0deg);
}

.playPageUpLeft .disk {
  display: inline-block;
  text-align: center;
  height: 300px;
  width: 300px;
  background: url("../../asset/images/disk1.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.playPageUpLeft .disk img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.playPageUpLeft .disk .rotateImg {
  animation: rotation 18s linear infinite;
  animation-play-state: running;
}

.playPageUpLeft .disk .standImg {
  animation: rotation 18s linear infinite;
  animation-play-state: paused;
}

.playPage .playPageUpRight {
  display: inline-block;
  width: 500px;
  .playPageSongName {
    display: inline-block;
    width: 100%;
    font-size: 26px;
    color: rgba(256, 256, 256, 0.7);
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .playPageArAl {
    display: flex;
    width: 100%;
    justify-content: space-around;
    span {
      display: flex;
      span {
        display: flex;
        color: rgba(130, 151, 235, 0.9);
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        display: inline-block;
        color: rgba(256, 256, 256, 0.7);
        margin-right: 10px;
      }
    }
  }
}
