.Home {
  position: relative;
  height: 100%;
  min-width: 1000px;
  background-color: #ffffff;

  .HomeMiddle {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: flex-start;
  }

  .user {
    position: absolute;
    left: 0;
    background-color: #ededed;
    width: 200px;
    min-height: 100vh;
    height: 100%;
    //border-right: #6b6b6b groove thin;
    overflow: scroll;

    scrollbar-width: none; // firefox
    -ms-overflow-style: none; // IE 10+

    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
  }

  .finding {
    display: inline-block;
    width: 800px;
    margin-top: 20px;
    margin-left: 200px;

    .findingItem {
      margin-bottom: 30px;

      .findingItemName {
        width: auto;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #333333;
        cursor: pointer;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
