.banners {
  display: inline-block;
  box-sizing: border-box;
  margin: 20px;
  width: 760px;
  height: 281px;
  background-color: #666666;

  .bannerContent {
    img {
      width: 100%;
      cursor: pointer;
    }
  }
}