$HeaderHeight: 50px;

@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.ttf?t=1644134888615') format('truetype');
}

.Header {
  display: flex;
  align-items: stretch;
  position: sticky;
  top: 0;
  width: 100%;
  height: $HeaderHeight;
  z-index: 9;
  background-color: #f6f6f6;
  backdrop-filter: blur(3px);

  .HeaderLeft {
    display: flex;
    width: 200px;
    flex-shrink: 0;

    .windowController {
      display: flex;
      padding: 0 20px;

      &:hover div .iconfont {
        visibility: visible;
      }

      div {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: auto 5px;
        display: flex;
        justify-content: center;

        .iconfont {
          font-size: 12px;
          line-height: 15px;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.5);
          visibility: hidden;
        }
      }

      .closeIconContainer {
        background-color: #eb6e5c;
      }

      .minimizeIconContainer {
        background-color: #f4c14b;
      }

      .fullscreenIconContainer {
        background-color: #64c653;
      }
    }
  }

  .HeaderRight {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .findingPages {
      display: flex;
      margin-left: 20px;

      .pageItem {
        height: 100%;
        width: 90px;
        line-height: $HeaderHeight;
        color: #646464;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: #323232;
        }
      }

      .currentPage {
        color: #000000;
      }
    }

    .about {
      display: flex;

      .searchContainer {
        display: flex;
        height: 100%;

        > div {
          margin: auto;
        }
      }

      .aboutIcons {
        display: flex;
        padding: 0 10px;

        > div {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin: auto 5px;

          &:hover {
            background-color: #eaeaea;
          }

          .iconfont {
            line-height: 30px;
          }
        }
      }
    }

  }
}