$itemOuterWidth: 380px;
$itemOuterHeight: 80px;
$itemInnerHeight: 60px;

@import "../../font/iconfont.css";
@font-face {
  font-family: "iconfontHome";
  src: url("../../font/iconfont.ttf?t=1644068845673") format('truetype');
}

.NewSongRcmd {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 5 * $itemOuterHeight;
  width: 100%;
  padding: 0 20px;

  .NewSongItem {
    display: flex;
    justify-items: center;
    height: $itemOuterHeight;
    width: $itemOuterWidth;
    padding: (($itemOuterHeight - $itemInnerHeight)/2);
    border-radius: 5px;

    &:hover {
      background-color: #f5f5f5;
    }

    .SongPic {
      display: flex;
      position: relative;
      height: $itemInnerHeight;
      width: $itemInnerHeight;
      background-color: #666666;

      flex-shrink: 0;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      justify-content: center;
      align-items: center;

      img {
        width: $itemInnerHeight;
        background-color: #666666;
      }

      .iconContainer {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        backdrop-filter: blur(5px);
        transition: all 0.3s;

        .iconfont {
          font-family: "iconfontHome" !important;
          transition: all 0.3s;
          text-align: center;
          line-height: 30px;
          font-size: 16px;
          color: #d43a31;
        }
      }

      &:hover .iconContainer {
        height: 40px;
        width: 40px;

        .iconfont {
          line-height: 40px;
          font-size: 20px;
        }
      }
    }

    .SongIndex {
      width: 40px;
      flex-shrink: 0;
      line-height: $itemInnerHeight;
      text-align: center;
      color: #999999;
      font-size: 12px;
    }

    .SongInfo {
      display: flex;
      flex-direction: column;
      width: ($itemOuterWidth - $itemOuterHeight);
      padding-right: 60px;
      text-align: left;

      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .SongNameAlias {
        display: flex;
        align-items: baseline;
        height: 35px;
        padding-top: 10px;

        .SongName {
          font-size: 14px;
          flex-shrink: 0;
        }

        .SongAlias {
          margin-left: 5px;
          font-size: 12px;
          color: #999999;
        }
      }

      .ArtistName {
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: #666666;
      }
    }
  }
}
