$itemInnerWidth: 120px;
$itemOuterWidth: 160px;

.PlaylistRecommended {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .listItem {
    display: flex;
    width: $itemInnerWidth;
    margin-left: ($itemOuterWidth - $itemInnerWidth)/2;
    margin-right: ($itemOuterWidth - $itemInnerWidth)/2;
    height: 200px;
    flex-flow: column;

    .listPic {
      position: relative;
      width: $itemInnerWidth;
      height: $itemInnerWidth;
      background-color: #666666;

      img {
        width: $itemInnerWidth;
        border-radius: 5px;
      }

      .playCount {
        position: absolute;
        top: 2px;
        right: 5px;
        color: white;
        font-size: 10px;
      }
    }

    .listName {
      text-align: left;
      margin-top: 4px;
      font-size: 13px;
      line-height: 18px;

      // 文本多于两行时省略
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
