@import "font/iconfont.css";

@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.ttf?t=1640056692595");
}

.playBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 900px;
  height: 70px;
  background-color: #f6f6f6;
  padding: 0 10px;
  z-index: 10;
  user-select: none;
  box-shadow: 0 -6px 12px rgba($color: #000000, $alpha: 0.05);
}

.playBar .progressBar {
  width: 100%;
  height: 5px;

  .progressBarLine {
    width: 100%;
    height: 100%;
    cursor: pointer;

    .progressBarPlayedLine {
      display: inline-block;
      position: absolute;
      left: 0;
      height: 2px;
      background-color: #d53a31;
    }

    .progressBarDot {
      display: inline-block;
      position: absolute;
      margin-top: -4px;
      margin-left: -5px;
      height: 10px;
      width: 10px;
      background-color: #d53a31;
      border-radius: 50%;
      transition: left 0.2s;
    }
  }
}

.playBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoDisplayPlayBar {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 450px;

  img {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
  }

  > div {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 380px;
    height: 50px;
    padding: 5px 0;
    margin-left: 10px;

    .nameAndArtist {
      display: inline-block;
      width: 380px;
      padding: 0;
      margin: 0;
      text-align-last: left;

      .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #3b3b3b;
      }

      .artistName {
        color: rgb(76, 76, 76);
        font-size: 13px;
      }
    }

    .duration {
      display: inline-block;
      width: 140px;
      text-align: left;
      color: rgb(76, 76, 76);
      font-size: 12px;
    }
  }
}

.playController {
  display: inline-flex;
  align-items: center;
  width: 450px;
}

.playController > span {
  display: inline-block;
}

.playPauseButton {
  margin: 0 20px;
}

.listController {
  > span {
    margin: auto 10px;
  }

  .controlIcon {
    font-size: 20px;
  }
}

.infoDisplayPlayBar .emptyImg {
  background: url("../../asset/images/singer.jpg") no-repeat;
  background-size: cover;
}
