.playPage .playPageUpRight .lyrics {
  display: block;
  height: 400px;
  width: 450px;
  margin-top: 30px;
  overflow: scroll;
  overflow-x: hidden;
  div{
    transition: all 0.2s linear;
  }
  .sentence {
    display: block;
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    font-size: 16px;
    color: #615f5f;
  }
  .currentLine {
    display: block;
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #c34b38;
  }
}
