@font-face {
  font-family: "iconfont";
  src: url("font/iconfont.ttf") format("truetype");
}

.ant-drawer-mask {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.ant-drawer-content {
  backdrop-filter: blur(3px);
  background-color: rgba(250, 250, 250, 0.6);
}

.ant-drawer-body {
  .title {
    justify-content: left;
    align-items: baseline;
    padding-left: 20px;
    height: 50px;
    cursor: default;
    border-bottom: 1px solid rgba(64, 64, 64, 0.4);

    span {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .titleName {
      font-size: 20px;
      font-weight: bold;
      color: black;
      padding-right: 10px;
    }
  }

  div:nth-child(2n) {
    background-color: rgba(250, 250, 250, 0.1);
  }

  div {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    line-height: 30px;
    transition: all 0.1s;

    .playListItemName {
      display: inline-block;
      width: 200px;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 500;
      text-overflow: ellipsis;
      color: #333333;
    }

    .playListItemArtist {
      display: inline-block;
      width: 80px;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #6b6b6b;
    }

    .playListItemDuration {
      display: inline-block;
      text-align: right;
      width: 45px;
      height: 100%;
      color: #6b6b6b;
    }

    .deleteIcon {
      visibility: hidden;
      font-family: "iconfont" !important;
      text-align: center;
      font-size: 12px;
      width: 30px;
      color: #aaa;
      transition: font-size, font-weight, color 0.2s;

      &:hover {
        font-weight: bolder;
        font-size: 15px;
        color: #c24b38;
      }
    }
  }

  .playListItem {
    &:hover {
      background-color: rgba(240, 240, 240, 0.4);

      .playListItemName {
        color: #000000;
      }

      .playListItemArtist {
        color: #000000;
      }

      .playListItemDuration {
        color: #000000;
      }

      .deleteIcon {
        visibility: unset;
      }
    }
  }
}

.ant-drawer-body .playingItem {
  .playListItemName {
    font-size: 14px;
    font-weight: 500;
    color: #c24b38;
  }

  .playListItemArtist {
    font-weight: 500;
    color: #c24b38;
  }

  .playListItemDuration {
    color: #6b6b6b;
  }

  &::before {
    content: "\e6b0 \00a0";
    font-family: "iconfont" !important;
    font-size: 10px;
    color: #c24b38;
  }

  &:hover {
    background-color: rgba(240, 240, 240, 0.4);

    .playListItemDuration {
      color: #000000;
    }

    .deleteIcon {
      visibility: unset;
    }
  }
}
